html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url('1.jpg') center center fixed; /* Background image properties */
  background-size: cover; /* Ensure the background image covers the entire body */
  font-family: 'Proxima Nova', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.table-container {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0; /* Light gray background color */
}

.line strong {
  flex-grow: 1;
  padding-right: 10px;
}

.line .status, .line .cause {
  flex-shrink: 0;
}

.line .status {
  font-weight: bold;
}

.line .cause {
  color: #ff9900; /* TfL orange color for delay reasons */
}

@media only screen and (max-width: 600px) {
  .line {
    flex-direction: column;
    text-align: center;
  }
}
