body {
  font-family: Proxima Nova, sans-serif;
  margin: 20px;
}

h1 {
  color: #052b9e;
}


.line {
  margin-bottom: 10px; /* Add margin for better spacing between lines */
}

.status {
  color: #000; /* Set the color of the status text to black */
}

.details {
  color: #777; /* Set the color of the details text to a darker gray */
}
