body {
  font-family: 'Proxima Nova', sans-serif;
  color: #333;
  font-weight: bold;
  /* Other styles for the body */
}

h1 {
  color: #0217d6;
}


.table-container {
  display: table;
  width: 100%;
}

.line {
  display: table-row;
  margin-bottom: 10px;
}

.line strong {
  display: table-cell;
  padding-right: 10px;
  font-weight: bold; /* Make the line name bold */
}

.line .status {
  display: table-cell;
  font-weight: bold; /* Make the status text bold */
}

.line strong[data-line="Elizabeth"] {
  color: #9E579D; /* Elizabeth line color */
}

.status {
  color: #000;
  font-weight: bold; /* Make the status text bold */
}
